<form action="/investment/create/" method="POST" >
  <h2>Create Investments for <%= customer.name %></h2>

  <input type="hidden" name="boss" value="<%- customer.id %>" />

  <input type="text" placeholder="Category" name="category" ><br />
  <input type="text" placeholder="Discription" name="description" ><br />
  <input type="text" placeholder="Aquired Value" name="aquired_value" ><br />
  <input type="text" placeholder="Aquired Date" name="aquired_date" ><br />
  <input type="text" placeholder="Recent Value" name="recent_value" ><br />
  <input type="text" placeholder="Recent Date" name="recent_date" ><br />

  <input type="submit" value="Add Investment" />
</form>
